<div class="container-fluid">
    <div class="row">
        <div class="intro-header">
            <div class="container">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="intro-message">
                            <h1>EZRX</h1>
                            <h3>Fast. Simple. Reliable.</h3>
                            <hr class="intro-divider">


                            <div class="col-lg-3">

                                <div class="input-group">
                                    <div angucomplete-alt id="ex1"
                                         placeholder="Search..."
                                         maxlength="50"
                                         pause="100"
                                         selected-object="query"
                                         local-data="data"
                                         search-fields="name"
                                         title-field="name"
                                         minlength="1"
                                         input-class="form-control form-control-small"
                                         match-class="highlight">
                                    </div>
                                    <span class="input-group-btn">
                                        <a href="#/search/{{ query.originalObject.id }}" class="btn btn-default" type="button">Go!</a>
                                      </span>
                                </div>

                            </div><!-- /.col-lg-6 -->

                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container -->

        </div>
        <!-- /.intro-header -->

    </div>
</div>
